footer {
	padding: 50px 0;
	background-image: url(img/marble.jpg);
	text-align: center;
	border-top: 1px solid $light-gray;

	@include tablet-portrait {
		padding: 100px 0;
	}
	
	p {
		padding: 0 0 20px 0;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		font-size: 0.75em;
		line-height: 1.5em;

		@include tablet-portrait {
			font-size: 1em;
		}

		a {
			color: $slate;
		}
	}

	#social {
		padding: 10px 0 0 0;

		a {
			display: inline-block;
			width: 24px;
			height: 24px;
			background-position: 0 0;
			background-repeat: no-repeat;
			background-size: 100%;
			margin: 0 10px;

			@include tablet-portrait {
				width: 36px;
				height: 36px;
			}

			&.facebook {
				background-image: url(img/facebook.png);
			}

			&.twitter {
				background-image: url(img/twitter.png);
			}

			&.instagram {
				background-image: url(img/instagram.png);
			}
		}
	}
}