header {
	position: absolute;

	&.sticky {
		position: fixed;
		top: 0 !important;
		z-index: 10000;
	}

	nav {
		width: 100%;
		z-index: 50;
		transition: all 0.5s;

		ul {
			display: none;
			margin: 0 auto;
			text-align: center;
			padding: 25px 0;

			@include mobile-landscape {
				padding: 0;
			}

			li {
				display: block;

				@include mobile-landscape {
					display: inline-block;
				}

				a {
					display: block;
					font-family: $clarke;
					color: $white;
					text-transform: uppercase;
					font-size: 1.5em;
					letter-spacing: 0.05em;
					padding: 15px;

					&:hover {
						color: $white;
					}

					@include mobile-landscape {
						display: inline-block;
						padding: 25px 15px;
					}

				}
			}
		}
	}

}

.nav-open {

	nav {
		background: $slate;

		@include mobile-landscape {
			background: rgba(0, 0, 0, 0.7); 
			z-index: 100;
		}

		ul {
			display: table;
		}
	}
}


#hamburger {
	z-index: 1500;
	cursor: pointer;
	z-index: 10000;
	position: absolute;
	top: 0;
	right: 0;
	padding: 25px;
	transition: all .3s cubic-bezier(0.7,0.01,0.3,1);
}

.close {
	padding: 0;
}

.patty {
	width: 32px;
	height: 4px;
	margin: 10px 0;
	background: $white;
	transition: all 0.3s;

	&:before,
	&:after {
		content: '';
		display: block;
		width: 32px;
		height: 4px;
		background: #fff;
		position: absolute;
		z-index: -1;
		transition: all .3s;
	}

	&:before {
		top: -12px;
	}

	&:after {
		top: 12px;
	}
}


.nav-open .patty,
.close .patty {
	height: 0;
}

.nav-open .patty:after,
.close .patty:after {
	top: 0 !important;
	background: $white !important;
	transform:rotate(45deg);
}

.nav-open .patty:before,
.close .patty:before {
	top: 0 !important;
	background: $white !important;
	transform:rotate(-45deg);
}

section#announcement {
	background: $sage-green;
	text-align: center;
	padding: 15px 0;

	@include desktop {
		padding: 25px 0;
		max-height: 98px;
	}

	h2 {
		color: $dark-green;
		font-family: $clarke;
		text-transform: uppercase;
		font-size: 1.25em;

		@include tablet-portrait {
			font-size: 2em;
		}

		@include desktop {
			font-size: 3em;
		}

		a {
			color: $dark-green;
		}
	}
}