body.home {

	section#hero {
		padding: 100px 0;

		@include tablet-portrait {
			padding: 150px 0;
		}

		@include tablet-landscape {
			padding: 200px 0;
		}

		@include desktop {
			padding: 300px 0;
		}

		img {
			margin: 0 auto;
			max-width: 200px;

			@include tablet-portrait {
				max-width: none;
			}
		}
	}


	section#info {
		padding: 50px 0;
		text-align: center;

		@include tablet-portrait {
			padding: 100px 0;
		}

		.wrapper {
			max-width: 720px;
		}

		h3 {
			font-size: 0.75em;
			letter-spacing: 0.1em;
			line-height: 2em;

			@include mobile-landscape {
				font-size: 1.5em;
			}

			span {
				font-size: 2em;
				text-align: center;
				font-family: $fg-rakel;
				text-transform: none;
				letter-spacing: 0;
			}
		}

		.hours {
			margin: 10px 0 0 0;
			border-top: 1px solid $black;
			padding: 20px 0 0 0;

			h4 {
				font-size: 0.875em;
				line-height: 1.75em;
				letter-spacing: 2px;

				@include mobile-landscape {
					font-size: 1em;
				}

			}
		}

		.events {
			margin-top: 50px;
		}

		.gift-cards {
			margin-top: 50px;

			a {
				text-transform: uppercase;
				display: inline-block;
				border: 1px solid;
				padding: 3px 4px;
				transition: all 0.3s ease-in;

				span {
					display: inline-block;
					border: 1px solid;
					padding: 12px 20px 10px 20px;
				}

				&:hover {
					background: $slate;
					color: $white;
				}
			}
		}

	}


	section#gallery {
		.wrapper {
			padding: 0;
			max-width: none;
		}

		img {
			width: 50%;
			float: left; 
		}
	}


	section#menu {
		padding: 50px 0;
		background-image: url(img/marble.jpg);
		border-bottom: 1px solid $light-gray;
		text-align: center;

		@include tablet-portrait {
			padding: 100px 0;
		}

		h3 {
			text-transform: uppercase;
			max-width: 200px;
			margin: 0 auto;

			@include mobile-landscape {
				max-width: none;
				margin: 0;
			}

			span {
				display: block;

				@include mobile-landscape {
					display: inline-block;
					vertical-align: middle;
				}

				&.year {
					font-family: $clarke;
					font-size: 3em;
					letter-spacing: 0.2em;

					@include mobile-landscape {
						padding: 0 20px;
					}
				}


				&.edition {
					padding: 20px 0; 

					em, strong {
						display: block;
						font-size: 1em;
						letter-spacing: 10px;
						font-weight: bold;
					}

					em {
						font-style: normal;
						padding: 0 0 10px 0;
						border-bottom: 2px solid $black;
						margin: 0 0 10px 0;
					}
				}
			}
		}

		p {
			text-transform: uppercase;
			font-size: 1em;
			line-height: 1.75em;
			letter-spacing: 0.2em;
			padding: 50px 0 0 0;
		}

	}

	section.menu {
		padding: 50px 0 0 0;

		.wrapper {
			padding: 0;

			@include tablet-portrait {
				padding: 0 5%;

			}
		}

		.mobile {
			display: block;

			@include tablet-portrait {
				display: none;
			}
		}

		.desktop {
			display: none;

			@include tablet-portrait {
				display: block;
			}
		}

		&:last-of-type {
			padding-bottom: 50px;
		}
	}
}