body {
	background: $white;
}

.wrapper {
	@include wrapper-padding;

}

.cover {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}


article,
section,
nav,
header,
footer {
	width: 100%;
	float: left;
}