html, input, textarea {
	-webkit-font-smoothing: antialiased;
}
body {
	text-rendering: optimizeLegibility;
}

body, input, textarea, button {
	color: $slate;
	font: 400 100%/1 $euro-bodoni;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
	text-transform: uppercase;
}


a {
	color: $slate;
	transition: all 0.3s ease-in-out;

	&:focus {
		outline: none;
	}
}

