/* Colors
----------------------------------*/
$white: #fff;
$light-gray: #e5e5e5;
$slate: #2a2a2a;
$black: #000;
$blue: #77cce9;
$sage-green: #9abb92;
$dark-green: #345427;



/* Typography
----------------------------------*/
@font-face {
    font-family: 'Euro Bodoni';
    src: url('fonts/euro_bodoni_dc_d_regular-webfont.eot');
    src: url('fonts/euro_bodoni_dc_d_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/euro_bodoni_dc_d_regular-webfont.woff2') format('woff2'),
         url('fonts/euro_bodoni_dc_d_regular-webfont.woff') format('woff'),
         url('fonts/euro_bodoni_dc_d_regular-webfont.ttf') format('truetype'),
         url('fonts/euro_bodoni_dc_d_regular-webfont.svg#euro_bodoni_dc_dregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FG Rakel';
    src: url('fonts/yoff_-_fg_rakel-webfont.eot');
    src: url('fonts/yoff_-_fg_rakel-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/yoff_-_fg_rakel-webfont.woff2') format('woff2'),
         url('fonts/yoff_-_fg_rakel-webfont.woff') format('woff'),
         url('fonts/yoff_-_fg_rakel-webfont.ttf') format('truetype'),
         url('fonts/yoff_-_fg_rakel-webfont.svg#fg_rakelregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Clarke Regular';
    src: url('fonts/clarke_regular_v6.3-webfont.eot');
    src: url('fonts/clarke_regular_v6.3-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/clarke_regular_v6.3-webfont.woff2') format('woff2'),
         url('fonts/clarke_regular_v6.3-webfont.woff') format('woff'),
         url('fonts/clarke_regular_v6.3-webfont.ttf') format('truetype'),
         url('fonts/clarke_regular_v6.3-webfont.svg#clarkeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


$euro-bodoni: 'Euro Bodoni', serif;
$fg-rakel: 'FG Rakel', cursive;
$clarke: 'Clarke Regular', sans-serif;


