	/*

    Theme Name: Mr. West Cafe Bar
    Theme URI: http://www.mrwestcafebar.com/
    Author: Andrew Lovseth
    Author URI: http://www.andrewlovseth.com/
    Description: 
    Version: 1.0

    TABLE OF CONTENTS
    
    01  Defaults
    02  Typography
    03  Basic Layout
    04  Header
    05  Footer
    06  Home
    
    XX  Media Queries
        - 480
        - 640
        - 768
        - 1024
        - 1200

*/








/*

    ----------------------------------------------------------------------
                                01 Defaults
    ----------------------------------------------------------------------

*/


/* HTML5 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary  { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; height: 0; }
[hidden] { display: none; }


/* HTML & BODY */
html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; }
body { margin: 0; font-size: 1em; line-height: 1.4; }


/* Links */
a { text-decoration: none; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }


/* Typography */
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: 600; }
i, em { font-style: italic; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; }
p, pre { margin: 1em 0; }
code, kbd, pre, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre {  white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ''; content: none; }
small { font-size: 80%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
h1, h2, h3, h4, h5, h6, p { margin: 0; font-weight: normal; -webkit-margin-before: 0; -webkit-margin-after: 0; }


/* Lists */
dd { margin: 0 0 0 40px; }
ul, ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* Embedded Content */
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }


/* Figure */
figure { margin: 0; }


/* Forms */
form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Tables */
table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* Absolute Positioning */
div, article, section, header, footer, nav, figure, li { position: relative; }


/* Selection  */
::-moz-selection { background: #77cce9; color: #fff; text-shadow: none; }
::selection { background: #77cce9; color: #fff; text-shadow: none; }


/* Clearfix */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }


/* Border-Box */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/* Image replacement */
.ir { background-color: transparent; border: 0; overflow: hidden; *text-indent: -9999px; }
.ir:before { content: ""; display: block; width: 0; height: 100%; }





/*

    ----------------------------------------------------------------------
                                02 Typography
    ----------------------------------------------------------------------


*/


@font-face {
    font-family: 'Euro Bodoni';
    src: url('fonts/euro_bodoni_dc_d_regular-webfont.eot');
    src: url('fonts/euro_bodoni_dc_d_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/euro_bodoni_dc_d_regular-webfont.woff2') format('woff2'),
         url('fonts/euro_bodoni_dc_d_regular-webfont.woff') format('woff'),
         url('fonts/euro_bodoni_dc_d_regular-webfont.ttf') format('truetype'),
         url('fonts/euro_bodoni_dc_d_regular-webfont.svg#euro_bodoni_dc_dregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FG Rakel';
    src: url('fonts/yoff_-_fg_rakel-webfont.eot');
    src: url('fonts/yoff_-_fg_rakel-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/yoff_-_fg_rakel-webfont.woff2') format('woff2'),
         url('fonts/yoff_-_fg_rakel-webfont.woff') format('woff'),
         url('fonts/yoff_-_fg_rakel-webfont.ttf') format('truetype'),
         url('fonts/yoff_-_fg_rakel-webfont.svg#fg_rakelregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Clarke Regular';
    src: url('fonts/clarke_regular_v6.3-webfont.eot');
    src: url('fonts/clarke_regular_v6.3-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/clarke_regular_v6.3-webfont.woff2') format('woff2'),
         url('fonts/clarke_regular_v6.3-webfont.woff') format('woff'),
         url('fonts/clarke_regular_v6.3-webfont.ttf') format('truetype'),
         url('fonts/clarke_regular_v6.3-webfont.svg#clarkeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}



/* Rendering & Ligatures */
html, input, textarea { -webkit-font-smoothing: antialiased; }
body { text-rendering: optimizeLegibility; }

/* Fonts */
body, input, textarea { color: #2a2a2a; font: 400 100%/1 'Euro Bodoni', Georgia, serif;  }
h1, h2, h3, h4, h5, h6 { font-weight: 400; text-transform: uppercase; }
a { color: #2a2a2a; }
a:hover, a.active { color: #2a2a2a; }

a:focus { outline: none; }


/*

    ----------------------------------------------------------------------
                                03 Layout
    ----------------------------------------------------------------------

*/
html { background: #fff; }

article,
section,
nav,
header,
footer { width: 100%; float: left; }

.wrapper { max-width: 1024px; margin: 0 auto; padding: 0 5%; }
.cover { background-position: center center; background-repeat: no-repeat; background-size: cover; }
img { display: block; max-width: 100%; }





/*

    ----------------------------------------------------------------------
                                04 Header
    ----------------------------------------------------------------------

*/

header { position: absolute; width: 100%; z-index: 20; }
header nav { position: absolute; width: 100%; z-index: 50; 
-webkit-transition: all .5s;
   -moz-transition: all .5s;
     -o-transition: all .5s;
        transition: all .5s;
}
header.open nav { background: #2a2a2a; }

header nav ul { display: none; margin: 0 auto; text-align: center; padding: 25px 0;  }
header.open nav ul { display: table; }
header nav ul li { display: block; }
header nav ul li a { display: block; font-family: 'Clarke Regular'; color: #fff; text-transform: uppercase; font-size: 1.5em; letter-spacing: 1px; padding: 15px; }
header nav ul li a:hover { color: #fff; }

#hamburger { z-index: 1500; cursor: pointer; z-index: 100; position: absolute; top: 0; right: 0; padding: 25px;
-webkit-transition: all .3s cubic-bezier(0.7,0.01,0.3,1);
   -moz-transition: all .3s cubic-bezier(0.7,0.01,0.3,1);
     -o-transition: all .3s cubic-bezier(0.7,0.01,0.3,1);
        transition: all .3s cubic-bezier(0.7,0.01,0.3,1);
}
.close { padding: 0; }
.patty { width: 32px; height: 4px; margin: 10px 0; background: #fff;
-webkit-transition: all .3s;
   -moz-transition: all .3s;
     -o-transition: all .3s;
        transition: all .3s;
}
.patty:after, .patty:before { content:''; display: block; width: 32px; height: 4px; background: #fff; position: absolute; z-index: -1;
-webkit-transition: all .3s;
   -moz-transition: all .3s;
     -o-transition: all .3s;
        transition: all .3s;
}
.patty:before { top: -12px; }
.patty:after { top:12px; }


.open .patty,
.close .patty { height: 0; }
.open .patty:after,
.close .patty:after { top: 0 !important; background: #fff !important;
-webkit-transform:rotate(45deg);
   -moz-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
        transform:rotate(45deg);
}

.open .patty:before,
.close .patty:before { top: 0 !important; background: #fff !important;
-webkit-transform:rotate(-45deg);
   -moz-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
        transform:rotate(-45deg);
}







/*

    ----------------------------------------------------------------------
                                05 Footer
    ----------------------------------------------------------------------

*/

footer { padding: 50px 0; background-image: url(img/marble.jpg); text-align: center; border-top: 1px solid #e5e5e5; }
footer p { padding: 0 0 20px 0; text-transform: uppercase; letter-spacing: 2px; font-size: 0.75em; line-height: 1.5em; }
footer p a { color: #2a2a2a; }
footer #social { padding: 10px 0 0 0; }
footer #social a { display: inline-block; width: 24px; height: 24px; background-position: 0 0; background-repeat: no-repeat; background-size: 100%; margin: 0 10px; }
footer #social .facebook { background-image: url(img/facebook.png); }
footer #social .twitter { background-image: url(img/twitter.png); }
footer #social .instagram { background-image: url(img/instagram.png); }




/*

    ----------------------------------------------------------------------
                                06 Home
    ----------------------------------------------------------------------

*/


/* 06.1 Hero
---------------------*/
#hero { padding: 100px 0; }
#hero img { margin: 0 auto; max-width: 200px; }





/* 06.2 Info
---------------------*/
#info { padding: 50px 0; text-align: center; }
#info .wrapper { max-width: 720px; }
#info h3 { font-size: 0.75em; letter-spacing: 2px; line-height: 2em; }
#info h3 span { font-size: 2em; text-align: center; font-family: 'FG Rakel'; text-transform: none; letter-spacing: 0;  }
#info .hours  { margin: 10px 0 0 0; border-top: 1px solid #000; padding: 20px 0 0 0; }
#info .hours h4 { font-size: 0.875em; line-height: 1.75em; letter-spacing: 2px; }
#info .events {margin-top: 50px; }


#info .gift-cards {margin-top: 50px; }
#info .gift-cards a { text-transform: uppercase; display: inline-block; border: 1px solid; padding: 3px 4px; transition: all 0.3s ease-in; }
#info .gift-cards a span { display: inline-block; border: 1px solid; padding: 12px 20px 10px 20px; }
#info .gift-cards a:hover { background: #2a2a2a; color: #fff; }

/* 06.3 Gallery
---------------------*/
#gallery .wrapper { padding: 0;  max-width: none; }
#gallery img { width: 50%; float: left; }






/* 06.4 Menu
---------------------*/
#menu { padding: 50px 0; background-image: url(img/marble.jpg); border-bottom: 1px solid #e5e5e5; text-align: center; }

#menu h3 { text-transform: uppercase; max-width: 200px; margin: 0 auto; }
#menu h3 span { display: block; }
#menu h3 .year { font-family: 'Clarke Regular'; font-size: 3em; letter-spacing: 5px;  }
#menu h3 .edition { padding: 20px 0; }
#menu h3 .edition em,
#menu h3 .edition strong { display: block; font-size: 1em; letter-spacing: 10px; font-weight: bold;  }
#menu h3 .edition em { font-style: normal; padding: 0 0 10px 0; border-bottom: 2px solid #000; margin: 0 0 10px 0; }


#menu p { text-transform: uppercase; font-size: 1em; line-height: 1.75em; letter-spacing: 3px; padding: 50px 0 0 0; }





.menu { padding: 50px 0 0 0; }
.menu .wrapper { padding: 0; }
.menu .mobile { display: block; }
.menu .desktop { display: none; }

.menu:last-of-type { padding-bottom: 50px; }








/*

    ----------------------------------------------------------------------
                                XX Media Queries
    ----------------------------------------------------------------------

*/


/* 480 + */
@media screen and (min-width:480px) {
    
    
}



/* 640 + */
@media screen and (min-width:640px) {
    

    header { position: absolute; width: 100%; z-index: 20; }
    header nav { position: absolute; width: 100%; z-index: 50; 
    -webkit-transition: all .5s;
       -moz-transition: all .5s;
         -o-transition: all .5s;
            transition: all .5s;
    }
    header.open { position: fixed; }
    header.open nav { background: rgba(0, 0, 0, 0.7); }

    header nav ul { padding: 0; }
    header.open nav ul { display: table; }
    header nav ul li { display: inline-block; }
    header nav ul li a { display: inline-block; padding: 25px 15px; }



    #info h3 { font-size: 1.5em; }
    #info .hours h4 { font-size: 1em; }

    #menu h3 { max-width: none; margin: 0; }
    #menu h3 span { display: inline-block; vertical-align: middle; }
    #menu h3 .year { padding: 0 20px; }
    
}





/* 768 + */
@media screen and (min-width:768px) {

    footer { padding: 100px 0; }
    footer p { font-size: 1em; }
    footer #social a { width: 36px; height: 36px; }

    #hero { padding: 150px 0; }
    #hero img { max-width: none; }

    #info { padding: 100px 0; }

    #menu { padding: 100px 0; }
    .menu .wrapper { padding: 0 5%; }
    .menu .mobile { display: none; }
    .menu .desktop { display: block; }


}




/* 1024 + */
@media screen and (min-width:1024px) {

    #hero { padding: 200px 0; }




}



/* 1200 + */
@media screen and (min-width:1200px) {


    #hero { padding: 300px 0; }

    .wrapper,
    .menu .wrapper { padding: 0; }

}


